<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button> -->

<div class="col-md-4">
    <div class="card mb-4 shadow-sm">

        <div class="content_img" style="text-align: center">
            <img alt="Thumbnail [100%x225]" src="<%= img %>" width="280" data-holder-rendered="true">
        </div>
        <div class="card-body">
            <p class="card-text">
                <%= description %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" id="<%= id %>" class="btn btn-sm btn-outline-secondary">
                        Посмотреть</button>
                    <% if (quantity <= 0) { %>
                        <button class="btn btn-secondary btn-info btn-lg" type="button" disabled>Отсутствует</button>
                    <% } else { %>
                        <button class="btn btn-secondary btn-info btn-lg" type="button" 
                        data-toggle="modal" data-target="#exampleModal" 
                        data-id="<%= id %>" data-quantity="<%= quantity %>" data-name="<%= description %>" data-price="<%= price %>">Заказать</button>
                    <% } %>
                </div>
                <small class="text-muted">
                    <%= price %>р</small>
            </div>
        </div>
    </div>
</div>